body {
	font-family: "Arial";
}

bold {
	 font-weight: bold;
}

.top-nav-links{
	margin-top: 1.7em;
}

#free-deliv{
	margin-top:3.2em;
}

.sign-in{
	padding: 0;
	span{
		font-size: 0.6em !important;
	}
	#grey{
		color: #808080;
	}
}

.custom{
	div{
	padding-left: 1em;
	}
	.btn{
    	float: left !important;
	}
}

.left-no-padding{
	padding-left:0;
}

.right-no-padding{
	padding-right:0;
}

.orbit{
	 .orbit-container{
		max-height: 436px;
		
	}
}

.no-padding-at-large{
	padding: 0! important;
}

.ft-container{
	padding-bottom: 1em;
}

.menu{
	max-width: 73.5rem;
    margin: auto;
    margin-bottom: -1em;

	ul{
		background-color: #ffffff;
		list-style-type: none;
	    margin: 0;
	    padding: 0;

		li{
			padding-right: 1px !important;
			margin:0 !important;
			height: 40px;
			width: 9em;	

			a{
				display:inline-block;
				overflow: hidden;
			}

			.button{
				background:#3a4a5e !important;
			}

			.active{
				background-color: #0778bd !important;
			}
		}

		.shopping-cart{
			width: 20em !important;
			text-align: right !important;

				a{
					height: 38px !important;
				}

				img{
			    	margin-right: 2em;
				}
		}
	}

	a{
		color:#ffffff !important;
		margin:0;
	}

	.first {
		border-style: solid;
    	border-width: 1px 0px 1px 1px;
    	border-top-left-radius: 5%;
    	border-bottom-left-radius: 5%;
    }

    .last {
    	border-style: solid;
    	border-width: 1px 0px 1px 1px;
    	border-top-right-radius: 5%;
    	border-bottom-right-radius: 5%;
    }
}

#footer {
	background-color: #0778bd !important;
	position:fixed; 
	bottom:0;
	width:100%;
	height: 5%;

	.tcs {
		margin-left: 25%;
	}

	.social{
		float:left;
		margin-left: -2em;
	}

	p {
		font-size: 0.6em;
		vertical-align: middle;
		margin: 0px; 
		padding-top: 1em;
		color: #ffffff;
	}

	img{
		float:right;

	}

}

.go-submit{
	position: absolute;
    top: 3.2em;
    right: 12.5%;
    float: left;
    height: 39px;
    width: 39px;
}

#go-button{
	width: 2em;
    height: 2em;
    position: relative;
    display: inline-block;
    img{
    	height: 2em;
    	width: 2em;
    }
}
.orbit{
	.orbit-slide{
		z-index: -9999;
	} 
	.orbit-indicator{
		position: absolute;
		bottom: 2em;
		right: 2em;
		width: 10em;
			li{
				width: 3em;
				height: 3em;
				display:inline-block;
				z-index:1;
				background-image:url('../images/slider-li.png');
				background-repeat: no-repeat;
				text-align: center;
				vertical-align: text-bottom;
				color:#ffffff !important;
				span{
					    position: relative;
					    top: 0.5em;
					    padding-right: 0.4em;
				}
				&.active{
					background-image:url('../images/slider-li-active.png');
				}
			}
	}
}

#category-holder {
	padding-bottom:1em;
	font-family: Rockwell !important;

	p {
		text-align: center;
		color: #8d8d8d;
		/*&.active {
				color:#0778bd;
			}*/
	}

	.active {

		.indicator {
			background-color:#0778bd;
		}

		p {
			color:#0778bd;
		}
	}

	img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	max-height: 100px;	
	}

	.indicator {
		float:right;
		height: 20px;
		width:20px;
		border: 0px solid;
		border-radius: 50%;
		background-color: #8d8d8d;

		img {
			vertical-align: middle;
			padding-top: 0.4em;
		}

		/*&.active {
			background-color:#0778bd;
		}*/
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.orbit{
		.orbit-indicator{
			bottom: 1em;
			right: 1em;
		}
	}
	#category-holder{
		padding-bottom:1em;

	}

	.shopping-cart {
		width: 4em !important;
		text-align: right !important;

		bold{
			display:none;
		}

		img {
			    margin-right: 0em !important;
		}
	}
}

@media screen and (max-width: 39.9375em) {

	.left_padding_remove{
			padding-left:.9375rem;
		}

		.marg-lft-25{
			margin-left: 25%;
		}

		#go-button {
	    	width: 2em;
	    	
		}
	.menu{
			width: 100%;
			.divider{
				width: 1em !important;
				height: 2em !important;
			}
			li{
				width: 100% !important;
				text-align: center;

				a{
					padding: 0;
				}
			}
			ul .shopping-cart {
    			width: 100% !important;
    			text-align: right !important;
			}
		}

	.shopping-cart{
		width: 100% !important;
		text-align: center !important;
		.basket{
			width: 19px;
			height: 19px;
		}
	}

	.top-bar{
		border-radius: 0;
	}

	#free-deliv {
    	margin-top: 0.8em;
	}

	.no-padding-at-large{
		padding-left: .9375rem !important;
    	padding-right: .9375rem !important;
	}
	
	#category-holder{
		padding-bottom:1em;
	}

	#footer {

		p {
			padding-top: 0;
		}

		.social {
			float:left;
			margin-left: 0;
		}
	}

}

