.top-nav-links{
	margin-top: 1.7em;
}

#free-deliv{
	margin-top:3.2em;
	position:relative;
	img{

	}
}

.sign-in{
	padding: 0;
	span{
		font-size: 0.6em !important;
	}
	#grey{
		color: #808080;
	}
}

.custom{
	div{
	padding-left: 1em;
	}
	.btn{
		float: none !important;
    	float: left !important;
	}
}


.shopping-cart{
	width: 20em !important;
	text-align: right !important;
	img{
		margin-left: -5em;
    	margin-right: 2em !important;
    	margin-top: -0.4em;
	}
}

.left-no-padding{
	padding-left:0;
}

.right-no-padding{
	padding-right:0;
}

.orbit{
	 .orbit-container{
		max-height: 436px;
		
	}
}

.no-padding-at-large{
	padding: 0! important;
}

.ft-container{
	padding-bottom: 1em;
}

.top-bar{
	max-width: 73.5rem;
    margin: auto;
	background-color: #2e3e50;
	border-radius: 5px;
	ul{
		background-color: #2e3e50;
	}
	a{
		color:#ffffff !important;
	}
}

#footer{
	background-color: #0778bd !important;
	position:fixed; 
	bottom:0;
	width:100%;
	height: 5%;
	p{
		font-size: 0.6em;
		vertical-align: middle;
	}
}

.menu{
	width: 100%;

	.divider{
		width: 1em !important;
		height: 2em !important;
	}
		li{
			width: 8em;
			text-align: center;

			a{
				padding: 0;
			}
	}
}

.go-submit{
	position: absolute;
    top: 3.2em;
    right: 12.5%;
    float: left;
    height: 39px;
    width: 39px;
}

#go-button{
	width: 2em;
    height: 2em;
    position: relative;
    display: inline-block;
    img{
    	height: 2em;
    	width: 2em;
    }
}
.orbit{
	.orbit-slide{
		z-index: -9999;
	} 
	.orbit-indicator{
		position: absolute;
		bottom: 2em;
		right: 2em;
		width: 10em;
			li{
				width: 3em;
				height: 3em;
				display:inline-block;
				z-index:1;
				background-image:url('../images/slider-li.png');
				background-repeat: no-repeat;
				text-align: center;
				vertical-align: text-bottom;
				color:#ffffff !important;
				span{
					    position: relative;
					    top: 0.5em;
					    padding-right: 0.4em;
				}
				&.active{
					background-image:url('../images/slider-li-active.png');
				}
			}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.orbit{
		.orbit-indicator{
			bottom: 1em;
			right: 1em;
		}
	}
	#category-holder{
		padding-bottom:1em;
	}
	.menu li {
	    width: 4em;
	    text-align: center;
	}
}

@media screen and (max-width: 39.9375em) {
	img{
		width: 100%;
	}
	.left_padding_remove{
			padding-left:.9375rem;
		}

		.marg-lft-25{
			margin-left: 25%;
		}

		#go-button {
	    	width: 2em;
	    	
		}
	.menu{
			width: 100%;
			.divider{
				width: 1em !important;
				height: 2em !important;
			}
			li{
				width: 100%;
				text-align: center;

				a{
					padding: 0;
				}
			}
		}

	.shopping-cart{
		width: 100% !important;
		text-align: center !important;
		.basket{
			width: 19px;
			height: 19px;
		}
	}

	.top-bar{
		border-radius: 0;
	}

	#free-deliv {
    	margin-top: 0.8em;
	}

	.no-padding-at-large{
		padding-left: .9375rem !important;
    	padding-right: .9375rem !important;
	}
	
	#category-holder{
		padding-bottom:1em;
	}

}

/**@media screen and (min-width: 40em){
.medium-8 {
    width: 73%;
}
.medium-3 {
	width: 27%;	
}
}**/

/* Small only */


/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

